.ul {
    height: 100%;
    margin: 0;
}

.li {
    list-style: none;
    border-bottom: 2px solid #45654C;
    display: flex;
    flex-direction: column;
}

.dropdownBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background-color: white;
    flex: 1;
}

.dropdownBtn > h6 {
    margin: 0;
    flex-grow: 1;
    color: black;
}

.dropdownBtn > p {
    margin: 0;
    margin-left: auto;
    font-size: 20px;
    color: #45654C;
}