/* ----- App ----- */
.container {
    height: 100vh;
    padding: 1em;
    overflow: auto;
}

.row {
    height: 96vh;
    min-height: 600px
}

.sidebarCol {
    height: 100%;
    z-index: 100;
}

.mainCol {
    height: 100%;
}


/* ----- TextButton ----- */
.button {
    color: #45654C;
    border: none;
    background: none;
    font-weight: bold;
}

.button:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 0.2em;
}
