/* ----- BarDiagram ----- */
.barDiv {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 20em;
}


/* -- DoughnutDiagram -- */
.doughnutDiv {
    min-height: 21em;
    position: relative;
    margin: 0 0 3em 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


/* --- LoadDiagram --- */
.tableRow {
    text-align: center;
    margin: 0;
    padding: 0em 1em 1em 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.tableHead > tr > th {
    border: 1px solid black;
}


.tableBody > tr > td {
    border-right: 1px solid gray;
    padding: 0.1em 0em;
}

.tableBody > tr > td:nth-last-child(-n+1) {
    border-right: 1px solid black;
}

.tableBody > tr > td:nth-child(1) {
    border-left: 1px solid black;
}

.tableBody > tr:nth-child(even) {
    background-color: #c7e0f4;
}

.tableBody > tr:nth-last-child(-n+1) {
    border-bottom: 1px solid black;
}


/* ----- Labels ----- */
.labelRow {
    width: 100%;
    padding: 2em 0 0 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.colorKey {
    width: 1.3em;
    height: 1em;
}

.resourceText {
    margin: 0;
    font-size: 0.7em;
    font-weight: 500;
}