.resourceBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #45654C;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0em;
    padding: 0em;
}

.formStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin-bottom: 2em;
}

.containerStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Hiding the arrows to choose number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* same for firefox */
input[type=number] {
    -moz-appearance: textfield;
}