.buttonStyle {
    background: none;
    font-size: 1.5em;
    color: white;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
}

.buttonStyle:hover {
    border: 2px solid white;
}

.imgStyle {
   width: 3vh;
}


