/* ----- Navbar ----- */
.container {
    height: 100%;
    display: flex;
    flex-direction: column; /* Align top to bottom */
}

.navBtnRow {
    padding: 0.1em;
}

.tabsRow {
    height: 100%;
    overflow-y: auto;
    padding: 0.1em;
}

.navContainer {
    font-size: 1.5em;
    text-align: center;
}


/* ----- NavTab ----- */
.navItem {
    width: 100%;
}

.navLink {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.navLink:hover {
    border: 2px solid white;
}

.tabTitle {
    flex-grow: 1;
    text-overflow: ellipsis; /* Overflow replaced with '...' */
    overflow: hidden;
    white-space: nowrap;
}

.optionsIcon {
    width: 30px;
    padding: 0.1em;
    border: 2px solid transparent; /* Transparent border to prevent movement of elements on hover effect */
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.optionsIcon:hover {
    border: 2px solid #45654C;
    border-radius: 5px;
}

.deleteIcon {
    width: 35px;
    padding: 0.1em;
    border: 2px solid transparent;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.deleteIcon:hover {
    border: 2px solid #45654C;
    border-radius: 5px;
}

.pdfBtn {
    border: 2px solid transparent;
    background: white;
    border-radius: 5px;
    padding: 0.5em;
    font-weight: bold;
    width: 100%;
}

.pdfBtn:hover {
    border: 2px solid white;
    background: none;
    color: white;
}


/* ----- ToggleButton ----- */
.toggleContainer {
    padding:0;
}

.toggleBtn {
    border: none;
    background: none;
    padding: 0;
}

.toggleImg {
    width: 100%;
    max-width: 55px;
    min-width: 35px;
}
