.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logoRow {
    flex: 1;
    height: 20vh;
    background-color: #45654C;
    padding-top: 1em;
    margin-bottom: 1em;
}

.logo {
    height: 90%;
    object-fit: contain;
    cursor: pointer;
}

.navbarRow {
    background-color: #45654C;
    max-height: 81vh;
}